#todo-table {
    display: flex;
    flex-flow: row wrap;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.table-container {
    margin: 2px;
    height: 400px;
    width: 300px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.add-table-button {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/* 

.bullet-list {

}

.new-bullet-list {

} 

*/